.modeIcon{
    position: fixed;
    bottom: 5%;
    right: 0;
    transition: opacity 1s;
}

.h3study {
    font-size: 30px;
    padding-left: 10%;
}

.h3break {
    font-size: 30px;
    color: #FBE3E9;
}

.h3finish {
    font-size: 30px;
    padding-left: 20%;
  }