.timer {
  color: black;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  width: 24rem;
  height: 24rem;
  padding: 20px 40px;
  text-align: center;
  font-size: 4.5rem;
  border-radius: 50%;
  position: absolute;
}

.timerButton {
  background-color: white;
  border: none;
}

.timer p {
  margin-top: 25%;
  font-size: 1.6rem;
}

.container {
  position: absolute;
  top: 50%;
  top: 18rem;
  left: 50%;
  left: 18rem;
  float: left;
  width: 24rem;
  height: 24rem;
  background-color: white;
  border-radius: 50%;
}

.sakuracontainer {
  position: relative;
}

.clip {
  width: 60rem;
  height: 60rem;
}
