.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  padding-top: 5vh;
  background-size: cover;
  transition: background-image 1s;
}
