.result {
  border-radius: 30px;
  border: 5px solid;
  border-color: #F6BEC9;
  padding: 5% 10%;
  background-color: rgb(255, 255, 255, 0.5);
  width: 70%;
  height: 60%;
}

.result h1 {
  text-align: center;
}

.flowerCondition {
  color: white;
  border-radius: 40px;
  background-color: #F6BEC9;
  padding: 2%;
  margin: 0 25%;
}

.otukare {
  margin-bottom: 50px;
}

.modeIcon{
  width: 20%;
  position: fixed;
  bottom: 1%;
  right: 0;
}

.h3finish {
  font-size: 30px;
  padding-left: 20%;
}
